{
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.js",
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[.]"
  ]
}